.list-container {
    background-color: var(--main-color);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 7rem 0 12rem 0;

    .title{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3rem;
        margin-left: 3rem;
    }
}